body{background-color: #b9edf7; ;
    color: #cf6c48;
    box-sizing: border-box;
    margin:0;
    padding:0;
text-align: center;}
.nav-item{text-align: center;
font-weight: 600;
font-size:20px}
li{border-bottom:2px solid black;}
li:last-child{border-bottom:none;}
color:black;}
h1{color: black;}
h3{color: #006d77;}
main{margin: 50px 20px;}
section{background-color: #f8dcd3;
margin: 5%;
border: 2px solid;
border-radius: 20px;}
@media(min-width:768px){button{display: none;}}
a.navbar-brand{font-weight: 600;
    font-size: 2em;}
section{padding:15px;}
div#navbarText{ width:100%; background-color: #83c5be;}
header{width: 100%;}
.container-fluid{margin: 0px; padding: 0;}
nav{background-color: #006d77;}

